body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    align-content:center;
}
section {
    border: 1px solid #000;
    height: 70vh;
    width: 80%;
}

section:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #F6F6F6;
    justify-content: center;
    margin-top: 70px;
    border: 1px solid #000;
    height: 50vh;
    align-content: center;
}

section:nth-child(1) div p {
    text-align: center;
    margin-top: 10px;
}

section:nth-child(2) h2 {
    text-align: center;
}

section:nth-child(2) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.container div img {
    box-shadow: 6px 6px 0px rgb(189, 110, 176);

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
    justify-content: space-between;
    align-content: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

section:nth-child(3) {
    margin-bottom: 20px;
    /* background-color: #F2AB11; */
}

section:nth-child(3) p {
    margin-bottom: 30px;
    /* border: 1px solid #000; */
    width: 60%;
    text-align: justify;
    background-color: #f2f2f2;
}
b {
    color: black;
}
label {
    margin-bottom: 10px;
}
textarea {
    margin-top: 10px;
}
.micro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    justify-content: center;
    align-content: center;
    gap: 15px;

}

.micro p {
    color: #1BB09B;
    /* text-align: justify; */
    /* width: 50%; */
}

.formulaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    /* border: 1px solid #000; */
}
.form-group {
    width: 40%;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
}
textarea {
    font-size: 18px;
    font-family: inherit;    
}
.micro img {
    border-radius: 100px;
}

input, label {
    height: 35px;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
}



